@font-face {
    font-family: 'icomoon';
    src:    url('/fonts/icomoon.eot?m78lyd');
    src:    url('/fonts/icomoon.eot?m78lyd#iefix') format('embedded-opentype'),
        url('/fonts/icomoon.ttf?m78lyd') format('truetype'),
        url('/fonts/icomoon.woff?m78lyd') format('woff'),
        url('/fonts/icomoon.svg?m78lyd#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="c-icon--"], [class*=" c-icon--"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.c-icon--control-prev:before {
    content: "\e9af";
}
.c-icon--control-start:before {
    content: "\e9b0";
}
.c-icon--control-end:before {
    content: "\e9b1";
}
.c-icon--control-play:before {
    content: "\e9b2";
}
.c-icon--control-next:before {
    content: "\e9b3";
}
.c-icon--control-stop:before {
    content: "\e9b4";
}
.c-icon--control-pause:before {
    content: "\e9b5";
}
.c-icon--alarm:before {
    content: "\e906";
}
.c-icon--apartment:before {
    content: "\e907";
}
.c-icon--arrow-down:before {
    content: "\e908";
}
.c-icon--arrow-down-circle:before {
    content: "\e909";
}
.c-icon--arrow-left:before {
    content: "\e90a";
}
.c-icon--arrow-left-circle:before {
    content: "\e90b";
}
.c-icon--arrow-right:before {
    content: "\e90c";
}
.c-icon--arrow-right-circle:before {
    content: "\e90d";
}
.c-icon--arrow-up:before {
    content: "\e90e";
}
.c-icon--arrow-up-circle:before {
    content: "\e90f";
}
.c-icon--bicycle:before {
    content: "\e910";
}
.c-icon--bold:before {
    content: "\e911";
}
.c-icon--book:before {
    content: "\e912";
}
.c-icon--bookmark:before {
    content: "\e913";
}
.c-icon--briefcase:before {
    content: "\e914";
}
.c-icon--bubble:before {
    content: "\e915";
}
.c-icon--bug:before {
    content: "\e916";
}
.c-icon--bullhorn:before {
    content: "\e917";
}
.c-icon--bus:before {
    content: "\e918";
}
.c-icon--calendar-full:before {
    content: "\e919";
}
.c-icon--camera:before {
    content: "\e91a";
}
.c-icon--camera-video:before {
    content: "\e91b";
}
.c-icon--car:before {
    content: "\e91c";
}
.c-icon--cart:before {
    content: "\e91d";
}
.c-icon--chart-bars:before {
    content: "\e91e";
}
.c-icon--checkmark-circle:before {
    content: "\e91f";
}
.c-icon--chevron-down:before {
    content: "\e920";
}
.c-icon--chevron-down-circle:before {
    content: "\e921";
}
.c-icon--chevron-left:before {
    content: "\e922";
}
.c-icon--chevron-left-circle:before {
    content: "\e923";
}
.c-icon--chevron-right:before {
    content: "\e924";
}
.c-icon--chevron-right-circle:before {
    content: "\e925";
}
.c-icon--chevron-up:before {
    content: "\e926";
}
.c-icon--chevron-up-circle:before {
    content: "\e927";
}
.c-icon--circle-minus:before {
    content: "\e928";
}
.c-icon--clock:before {
    content: "\e929";
}
.c-icon--cloud:before {
    content: "\e92a";
}
.c-icon--cloud-check:before {
    content: "\e92b";
}
.c-icon--cloud-download:before {
    content: "\e92c";
}
.c-icon--cloud-sync:before {
    content: "\e92d";
}
.c-icon--cloud-upload:before {
    content: "\e92e";
}
.c-icon--code:before {
    content: "\e92f";
}
.c-icon--coffee-cup:before {
    content: "\e930";
}
.c-icon--cog:before {
    content: "\e905";
}
.c-icon--construction:before {
    content: "\e931";
}
.c-icon--crop:before {
    content: "\e932";
}
.c-icon--cross:before {
    content: "\e933";
}
.c-icon--cross-circle:before {
    content: "\e934";
}
.c-icon--database:before {
    content: "\e935";
}
.c-icon--diamond:before {
    content: "\e936";
}
.c-icon--dice:before {
    content: "\e937";
}
.c-icon--dinner:before {
    content: "\e938";
}
.c-icon--direction-ltr:before {
    content: "\e939";
}
.c-icon--direction-rtl:before {
    content: "\e93a";
}
.c-icon--download:before {
    content: "\e93b";
}
.c-icon--drop:before {
    content: "\e93c";
}
.c-icon--dropbox:before {
    content: "\e903";
}
.c-icon--earth:before {
    content: "\e93d";
}
.c-icon--enter:before {
    content: "\e93e";
}
.c-icon--enter-down:before {
    content: "\e93f";
}
.c-icon--envelope:before {
    content: "\e940";
}
.c-icon--exit:before {
    content: "\e941";
}
.c-icon--exit-up:before {
    content: "\e942";
}
.c-icon--eye:before {
    content: "\e943";
}
.c-icon--facebook2:before {
    content: "\e901";
}
.c-icon--file-add:before {
    content: "\e944";
}
.c-icon--file-empty:before {
    content: "\e945";
}
.c-icon--film-play:before {
    content: "\e946";
}
.c-icon--flag:before {
    content: "\e947";
}
.c-icon--frame-contract:before {
    content: "\e948";
}
.c-icon--frame-expand:before {
    content: "\e949";
}
.c-icon--funnel:before {
    content: "\e94a";
}
.c-icon--gift:before {
    content: "\e94b";
}
.c-icon--github:before {
    content: "\e904";
}
.c-icon--google2:before {
    content: "\e900";
}
.c-icon--graduation-hat:before {
    content: "\e94c";
}
.c-icon--hand:before {
    content: "\e94d";
}
.c-icon--heart:before {
    content: "\e94e";
}
.c-icon--heart-pulse:before {
    content: "\e94f";
}
.c-icon--highlight:before {
    content: "\e950";
}
.c-icon--history:before {
    content: "\e951";
}
.c-icon--home:before {
    content: "\e952";
}
.c-icon--hourglass:before {
    content: "\e953";
}
.c-icon--inbox:before {
    content: "\e954";
}
.c-icon--indent-decrease:before {
    content: "\e955";
}
.c-icon--indent-increase:before {
    content: "\e956";
}
.c-icon--instagram:before {
    content: "\e902";
}
.c-icon--italic:before {
    content: "\e957";
}
.c-icon--keyboard:before {
    content: "\e958";
}
.c-icon--laptop:before {
    content: "\e959";
}
.c-icon--laptop-phone:before {
    content: "\e95a";
}
.c-icon--layers:before {
    content: "\e95b";
}
.c-icon--leaf:before {
    content: "\e95c";
}
.c-icon--license:before {
    content: "\e95d";
}
.c-icon--lighter:before {
    content: "\e95e";
}
.c-icon--line-spacing:before {
    content: "\e95f";
}
.c-icon--linearicons:before {
    content: "\e960";
}
.c-icon--link:before {
    content: "\e961";
}
.c-icon--list:before {
    content: "\e962";
}
.c-icon--location:before {
    content: "\e963";
}
.c-icon--lock:before {
    content: "\e964";
}
.c-icon--magic-wand:before {
    content: "\e965";
}
.c-icon--magnifier:before {
    content: "\e966";
}
.c-icon--map:before {
    content: "\e967";
}
.c-icon--map-marker:before {
    content: "\e968";
}
.c-icon--menu:before {
    content: "\e969";
}
.c-icon--menu-circle:before {
    content: "\e96a";
}
.c-icon--mic:before {
    content: "\e96b";
}
.c-icon--moon:before {
    content: "\e96c";
}
.c-icon--move:before {
    content: "\e96d";
}
.c-icon--music-note:before {
    content: "\e96e";
}
.c-icon--mustache:before {
    content: "\e96f";
}
.c-icon--neutral:before {
    content: "\e970";
}
.c-icon--page-break:before {
    content: "\e971";
}
.c-icon--paperclip:before {
    content: "\e972";
}
.c-icon--paw:before {
    content: "\e973";
}
.c-icon--pencil:before {
    content: "\e974";
}
.c-icon--phone:before {
    content: "\e975";
}
.c-icon--phone-handset:before {
    content: "\e976";
}
.c-icon--picture:before {
    content: "\e977";
}
.c-icon--pie-chart:before {
    content: "\e978";
}
.c-icon--pilcrow:before {
    content: "\e979";
}
.c-icon--plus-circle:before {
    content: "\e97a";
}
.c-icon--pointer-down:before {
    content: "\e97b";
}
.c-icon--pointer-left:before {
    content: "\e97c";
}
.c-icon--pointer-right:before {
    content: "\e97d";
}
.c-icon--pointer-up:before {
    content: "\e97e";
}
.c-icon--poop:before {
    content: "\e97f";
}
.c-icon--power-switch:before {
    content: "\e980";
}
.c-icon--printer:before {
    content: "\e981";
}
.c-icon--pushpin:before {
    content: "\e982";
}
.c-icon--question-circle:before {
    content: "\e983";
}
.c-icon--redo:before {
    content: "\e984";
}
.c-icon--rocket:before {
    content: "\e985";
}
.c-icon--sad:before {
    content: "\e986";
}
.c-icon--screen:before {
    content: "\e987";
}
.c-icon--select:before {
    content: "\e988";
}
.c-icon--shirt:before {
    content: "\e989";
}
.c-icon--smartphone:before {
    content: "\e98a";
}
.c-icon--smile:before {
    content: "\e98b";
}
.c-icon--sort-alpha-asc:before {
    content: "\e98c";
}
.c-icon--sort-amount-asc:before {
    content: "\e98d";
}
.c-icon--spell-check:before {
    content: "\e98e";
}
.c-icon--star:before {
    content: "\e98f";
}
.c-icon--star-empty:before {
    content: "\e990";
}
.c-icon--star-half:before {
    content: "\e991";
}
.c-icon--store:before {
    content: "\e992";
}
.c-icon--strikethrough:before {
    content: "\e993";
}
.c-icon--sun:before {
    content: "\e994";
}
.c-icon--sync:before {
    content: "\e995";
}
.c-icon--tablet:before {
    content: "\e996";
}
.c-icon--tag:before {
    content: "\e997";
}
.c-icon--text-align-center:before {
    content: "\e998";
}
.c-icon--text-align-justify:before {
    content: "\e999";
}
.c-icon--text-align-left:before {
    content: "\e99a";
}
.c-icon--text-align-right:before {
    content: "\e99b";
}
.c-icon--text-format:before {
    content: "\e99c";
}
.c-icon--text-format-remove:before {
    content: "\e99d";
}
.c-icon--text-size:before {
    content: "\e99e";
}
.c-icon--thumbs-down:before {
    content: "\e99f";
}
.c-icon--thumbs-up:before {
    content: "\e9a0";
}
.c-icon--train:before {
    content: "\e9a1";
}
.c-icon--trash:before {
    content: "\e9a2";
}
.c-icon--underline:before {
    content: "\e9a3";
}
.c-icon--undo:before {
    content: "\e9a4";
}
.c-icon--unlink:before {
    content: "\e9a5";
}
.c-icon--upload:before {
    content: "\e9a6";
}
.c-icon--user:before {
    content: "\e9a7";
}
.c-icon--users:before {
    content: "\e9a8";
}
.c-icon--volume:before {
    content: "\e9a9";
}
.c-icon--volume-high:before {
    content: "\e9aa";
}
.c-icon--volume-low:before {
    content: "\e9ab";
}
.c-icon--volume-medium:before {
    content: "\e9ac";
}
.c-icon--warning:before {
    content: "\e9ad";
}
.c-icon--wheelchair:before {
    content: "\e9ae";
}
